@import "tailwindcss";

:root {
  --background: white;
  --foreground: #171717;
}

@theme inline {
  --color-secondary-50: #fff0f1;
  --color-secondary-100: #ffe2e5;
  --color-secondary-200: #ffcad2;
  --color-secondary-300: #ff9fac;
  --color-secondary-400: #ff6980;
  --color-secondary-500: #ff385c;
  --color-secondary-600: #ed1143;
  --color-secondary-700: #c80839;
  --color-secondary-800: #a80937;
  --color-secondary-900: #8f0c35;
  --color-secondary-950: #500118;

  --color-primary-50: #fefefe;
  --color-primary-100: #efefef;
  --color-primary-200: #dcdcdc;
  --color-primary-300: #bdbdbd;
  --color-primary-400: #989898;
  --color-primary-500: #7c7c7c;
  --color-primary-600: #656565;
  --color-primary-700: #525252;
  --color-primary-800: #464646;
  --color-primary-900: #3d3d3d;
  --color-primary-950: #292929;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
